[submodule ".emacs.d/clojure-mode"]
	path = .emacs.d/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/nrepl.el"]
	path = .emacs.d/nrepl.el
	url = git://github.com/kingtim/nrepl.el.git
