[submodule ".emacs.d/clojure-mode"]
	path = .emacs.d/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/nrepl.el"]
	path = .emacs.d/nrepl.el
	url = git://github.com/kingtim/nrepl.el.git
[submodule ".emacs.d/rinari"]
	path = .emacs.d/rinari
	url = git://github.com/eschulte/rinari.git
[submodule ".emacs.d/inf-ruby"]
	path = .emacs.d/inf-ruby
	url = git://github.com/nonsequitur/inf-ruby.git
