[submodule ".emacs.d/clojure-mode"]
	path = .emacs.d/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/nrepl.el"]
	path = .emacs.d/nrepl.el
	url = git://github.com/kingtim/nrepl.el.git
[submodule ".emacs.d/rinari"]
	path = .emacs.d/rinari
	url = git://github.com/eschulte/rinari.git
[submodule ".emacs.d/inf-ruby"]
	path = .emacs.d/inf-ruby
	url = git://github.com/nonsequitur/inf-ruby.git
[submodule ".emacs.d/projectile"]
	path = .emacs.d/projectile
	url = git://github.com/bbatsov/projectile.git
[submodule ".emacs.d/dash.el"]
	path = .emacs.d/dash.el
	url = git://github.com/magnars/dash.el.git
[submodule ".emacs.d/s.el"]
	path = .emacs.d/s.el
	url = git://github.com/magnars/s.el.git
[submodule ".emacs.d/ido-better-flex"]
	path = .emacs.d/ido-better-flex
	url = git://github.com/vic/ido-better-flex.git
[submodule ".emacs.d/lua-mode"]
	path = .emacs.d/lua-mode
	url = git://github.com/immerrr/lua-mode.git
[submodule ".emacs.d/scala-mode2"]
	path = .emacs.d/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
